<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SAMPLE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
	<filter-name>SampleFilter</filter-name>
	<filter-class>com.ebiznext.sbt.sample.reception.webapp.SampleFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>SampleFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
  <servlet>
    <description></description>
    <display-name>ReceptionnerLignesDeCommande</display-name>
    <servlet-name>ReceptionnerLignesDeCommande</servlet-name>
    <servlet-class>com.ebiznext.sbt.sample.reception.webapp.ReceptionnerLignesDeCommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionnerLignesDeCommande</servlet-name>
    <url-pattern>/ReceptionnerLignesDeCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifierLoginReception</display-name>
    <servlet-name>VerifierLoginReception</servlet-name>
    <servlet-class>com.ebiznext.sbt.sample.reception.webapp.VerifierLoginReceptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifierLoginReception</servlet-name>
    <url-pattern>/VerifierLoginReception</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercherDetailCommandeAReceptionner</display-name>
    <servlet-name>RechercherDetailCommandeAReceptionner</servlet-name>
    <servlet-class>com.ebiznext.sbt.sample.reception.webapp.RechercherDetailCommandeAReceptionnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercherDetailCommandeAReceptionner</servlet-name>
    <url-pattern>/RechercherDetailCommandeAReceptionner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValiderCodeOIA</display-name>
    <servlet-name>ValiderCodeOIA</servlet-name>
    <servlet-class>com.ebiznext.sbt.sample.reception.webapp.ValiderCodeOIAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderCodeOIA</servlet-name>
    <url-pattern>/ValiderCodeOIA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerFournisseurs</display-name>
    <servlet-name>ListerFournisseurs</servlet-name>
    <servlet-class>com.ebiznext.sbt.sample.reception.webapp.ListerFournisseursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerFournisseurs</servlet-name>
    <url-pattern>/ListerFournisseurs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerCommandesAReceptionnerFournisseur</display-name>
    <servlet-name>ListerCommandesAReceptionnerFournisseur</servlet-name>
    <servlet-class>com.ebiznext.sbt.sample.reception.webapp.ListerCommandesAReceptionnerFournisseurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerCommandesAReceptionnerFournisseur</servlet-name>
    <url-pattern>/ListerCommandesAReceptionnerFournisseur</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/401.html</location>
  </error-page>
</web-app>